<% content_for :title, title('User') %>

<h3 class="subheader">
  <%= @user.full_name %>
</h3>

<div class="user-info row left">
  <div class="large-2 columns">
    <strong>Avatar</strong>
  </div>
  <div class="large-10 columns">
    <table>
      <tr>
        <td>age:</td>
        <td><%= @user.age %></td>
      </tr>
      <tr>
        <td>member for:</td>
        <td class="blue"><%= time_ago_in_words @user.created_at %></td>
      </tr>
      <tr>
        <td>seen:</td>
        <td class="red"><%= time_ago_in_words @user.current_sign_in_at %> ago</td>
      </tr>
    </table>
    <% if current_user && current_user != @user %>
      <% if current_user.friends.include? @user %>
        <%= button_to "Remove Friend", current_user.friendships.find_by_friend_id(@user.id), method: :delete %>
      <% else %>
        <%= button_to "Add Friend", friendships_path(friend_id: @user), method: :post %>
      <% end %>
    <% end %>
  </div>
</div>
